body {
    overflow-x: hidden;
    background: #222222;
    font-family: Tahoma, arial;
}

.puzzle-container{
    margin-top: 20px;
    max-width: 1200px;
}

.puzzle-container.auto{
    margin: 20px auto;
    max-width: 1200px;
}

.loading-spinner-backdrop {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading-spinner-backdrop .loading-spinner {
    background: currentColor;
    border-radius: 4px;
    box-shadow: 0 17px 17px rgba(0, 0, 0, 0.15), 0 27px 55px rgba(0, 0, 0, 0.3);
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 40%;
    left: 50%;
}

.loading-spinner-backdrop .loading-spinner p,
.loading-spinner-backdrop .loading-spinner h1 {
    padding: 10px;
    color: #ccc;
    text-align: center;
}

.list-inline{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-inline li{
    display: inline-block;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.list-inline li img{
    width: 250px;
    height: 201px;
}

.list-inline li.pair{
    width: 49%;
}

.list-inline li a{
    text-decoration: none;
}

.list-inline li a:hover{
    opacity: 0.7;
}

.list-inline.mode-list li a{
    background-color: #ccc;
    padding: 10px;
    color: #444;
    text-decoration: none;
    border-radius: 4px;
}

li.selected a{
    background-color: #444 !important;
    color: #fff !important;
    cursor: default;
}

.btn{
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #ccc;
    color: #444;
    text-decoration: none;
    border-radius: 4px;
}

.form-group label{
    color: #ccc;
    font-weight: bold;
    display: block;
}